/* Basic Selectors */
h1 {
  color: navy;
}

p.intro {
  font-style: italic;
}

#main {
  padding: 20px;
}

/* Grouping and Descendant */
h1, h2, h3 {
  margin-bottom: 10px;
}

section article p {
  color: gray;
}

/* Pseudo Elements */
p::first-letter {
  font-size: 200%;
}
